@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0 1rem;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    color: $greyish;
    background-color: $darkBlue;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../assets/mobile/image-host.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: 0.1;
    }
}

h1 {
    font-weight: 300;
    text-transform: uppercase;
}

button {
    height: 46px;
    padding: .9rem;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
    border: none;
    outline: none;
    border-radius: 2.8rem;
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    color: $darkBlue;
    background-color: #54E6AF;
    cursor: pointer;
    transition: background-color 0.2s ease-out;

    &:hover {
        background-color: #B3FFE2;
    }
}

input {
    border: none;
    outline: none;
    border-radius: 2.8rem;
    background-color: $blue;
    color: $white;
    font-family: 'Chivo';
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
}